<!DOCTYPE html>
<html lang="en">
<head>
  <title>GM Topic Trend</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">
  <h1>GM Topic Trend</h1>
  <h2>Big Data Analytics and Understanding Customer Sentiment</h2>


	<br>
	<br>
	<br>
	<br>

	<center>
		<a href="carselect.html" role="button" class="btn btn-primary btn-large">Rank by Sentiment Analysis <p>of Car Components</p></a>
        <a href="selectcarsedmundsratings.html" role="button" class="btn btn-success">Rank by Edmund's Customer <p>Ratings</p></a>
	</center>


</div>

</body>
</html>
